:root {
  --accentColor: #1ed760;
  --accentLighter: color-mix(in srgb, var(--accentColor), white 30%);
}

body {
  background: #222;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

/*************************/
/**** Visualizer Bars ****/
/*************************/
.audioBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100px;
  margin-bottom: 50px;
}

.bar {
  width: 6px;
  height: 10px;
  background: var(--accentColor);
  border-radius: 3px;
}

/*****************************/
/**** Play / Pause Button ****/
/*****************************/
.playPause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent var(--accentColor);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0px 37px 60px;
}

.playPause.paused {
  border-style: double;
  border-width: 0px 0px 0px 60px;
}

.playPause:hover {
  border-color: transparent transparent transparent var(--accentLighter);
}
