:root {
  --accentColor: #a855f7;
  --accentLighter: color-mix(in srgb, var(--accentColor), white 30%);
}

/***************************/
/**** General UI Styles ****/
/***************************/
body {
  background: #222;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.button {
  background: var(--accentColor);
  transition: 110ms background-color ease;
  width: max-content;
  padding: 10px 15px;
  border-radius: 8px;
}

.button:hover {
  background: var(--accentLighter);
}

/*************************/
/**** Visualizer Bars ****/
/*************************/
.audioBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100px;
  margin-bottom: 50px;
}

.bar {
  width: 6px;
  height: 10px;
  background: var(--accentColor);
  border-radius: 3px;
}

/*****************************/
/**** Play / Pause Button ****/
/*****************************/
.playPause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent var(--accentColor);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0px 37px 60px;
}

.playPause.paused {
  border-style: double;
  border-width: 0px 0px 0px 60px;
}

.playPause:hover {
  border-color: transparent transparent transparent var(--accentLighter);
}

/*********************/
/**** Answer Card ****/
/*********************/

.answerBox {
  width: 350px;
  padding: 15px;
  background: #161616;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: none;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 25%);
}

.albumArt {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px;
}

.info {
  padding: 15px 5px 5px;
  color: white;
}

.songName {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.1;
}

.albumArtist {
  margin: 5px 0 12px;
  font-size: 1.1rem;
}

.albumInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  color: #999;
}

.albumInfo p {
  margin: 0;
}

.albumName {
  font-size: 0.85rem;
}

.albumYear {
  font-size: 0.75rem;
}

.separator {
  font-size: 0.7rem;
}

/**********************/
/*** Countdown Ring ***/
/**********************/
.countdown {
  width: 150px;
  height: 150px;
  position: relative;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdownRing {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.ringBackground,
.ringProgress {
  fill: none;
  stroke-width: 6;
}

.ringBackground {
  stroke: #444;
}

.ringProgress {
  stroke: var(--accentColor);
  stroke-linecap: round;

  /* Circumference of the circle */
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}

.countdownNumber {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  font-weight: bold;
  color: white;
}

/***************************/
/*** Transparent Overlay ***/
/***************************/
.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: none;
}

/**************************/
/**** Settings Section ****/
/**************************/
.settingsBox {
  border-radius: 8px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 25%);
  background: #161616;
  font-family: sans-serif;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 50px;
  color: white;
  display: grid;
  gap: 15px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
